<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Admin Area | Edit Category</title>

        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.ttf">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>

    </head>

    <body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" datatarget="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/home">Aapni Dukan</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/home">Dashboard</a></li>
                    <li class="active"><a href="/admin/categories">Categories</a></li>
                    <li><a href="/admin/products">Products</a></li>
                    <li><a href="/admin/users">Users</a></li>
                    <li><a href="/admin/orders">Orders</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/auth/logout">Log Out</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <header id="header">
        <div class="container">
            <div class="row">

                <div class="col-md-10">
                    <h2 style="vertical-align: middle"><span class="glyphicon glyphicon-cog" style="margin-right: 6px;" aria-hidden="true"></span>Edit Category</h2>
                </div>

            </div>
        </div>
    </header>

    <section id="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/admin/home">Dashboard </a> </li>
                <li>/</li>
                <li>Categories</li>
                <li class="active">Edit Category</li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active main-color-bg">
                            <span style="padding-right: 6px" class="glyphicon glyphicon-cog"></span>Users
                        </a>
                        <a href="/admin/categories" class="list-group-item">
                            <span style="margin-right: 6px" class="glyphicon glyphicon-folder-close"></span>
                            Categories
                            <span class="badge categoriesCount"><%= catCount %></span>
                        </a>

                        <a href="/admin/products" class="list-group-item">
                            <i style="margin-right: 6px" class="far fa-list-alt"></i>
                            Products
                            <span class="badge" id="productsCount"><%= prodCount %></span>
                        </a>

                        <a href="/admin/orders" class="list-group-item">
                            <i style="margin-right: 6px" class="fas fa-cart-plus"></i>
                            Orders
                            <span class="badge" id="ordersCount"><%= orderCount %></span> <!-- get data from mongo -->
                        </a>

                        <a href="/admin/users" class="list-group-item">
                            <i style="margin-right: 6px" class="fas fa-users"></i>
                            Users
                            <span class="badge" id="usersCount"><%= userCount %></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Products Categories</h3>
                        </div>

                        <div class="panel-body">
                            <form method="post" class="form-group">
                                <div class="col-md-11">
                                    <input class="form-control" type="text" name="search_categories" placeholder="Search Category...">
                                </div>

                                <div class="col-md-1">
                                    <button type="submit" class=" form-control btn btn-default" formaction="/admin/categories/search-categories">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                    <!-- All Categories Table -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Manage Categories</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover align-middle">
                                    <% if (catCount <= 0){ %>
                                    <div class="no-categories">
                                        <h3 class="text-center">
                                            You Don't Have any Categories Yet, Add One
                                        </h3>
                                    </div>
                                    <% } else { %>
                                    <tr>
                                        <th>Title</th>
                                        <th>Image</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>

                                    <% categories.forEach ( (cats) => { %>
                                    <tr>
                                        <td><%= cats.title %></td>
                                        <td><%= cats.image %></td>
                                        <td>
                                            <a type="button" data-toggle="modal" data-target="#editCategory" href="#">Edit</a>
                                            <!--<a href="/admin/categories/edit-category/<%= cats._id %>">-->
                                            <!--<button type="button" class="btn btn-primary btn-sm">Edit</button>-->
                                            <!--</a>-->
                                        </td>
                                        <td>
                                            <a href="/admin/categories/delete-category/<%= cats._id %>">
                                                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                            </a>
                                        </td>

                                    </tr>
                                    <% }) %>

                                    <% }%>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <footer
            style="background-color: #333333;
                                        padding: 30px;
                                        color: white;
                                        margin-top: 30px;
                                        text-align: center">

        <p>Copyright &copy; Aapni Dukan 2018</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="//cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>

    <script>

        CKEDITOR.replace('desc_name');

        function showImage (){
            if (this.files && this.files[0]){
                let r = new FileReader();
                r.onload = ((data) => {
                    let img = document.getElementById("imgPreview");
                    img.src = data.target.result;
                    img.style.display = "block";
                });
                r.readAsDataURL(this.files[0]);
            }
        }
    </script>

    </body>

</html>